@{
    ViewData["Title"] = "Encrypt";
}

<div class='row text-center'>
    <div class='col-md-12 '> <!-- col-md-offset-1 // if u want them both alined-->
        <header>
            <h1>Encryption</h1>
        </header>
    </div>
</div>

<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        
        @model EncryptModel
        <form asp-controller="Encrypt" asp-action="Encrypt" method="post">
        
            <h3>Plaintext</h3>
            <textarea asp-for="Plaintext" cols="80" rows="20"></textarea>
            <br/>
            <br/>

            <h3>Key</h3>
            <textarea asp-for="Key" cols="80" rows="1" placeholder="ABCDEFGHIJKLMNOPQRSTUVWXYZ_"></textarea>
            <br/>
            <br/>

            <button class="btn btn-custom">Encrypt</button>
            <br/>
            <br/>

        </form>

        <h3>Ciphertext</h3>

        <textarea asp-for="Ciphertext" cols="80" rows="20">@Model.Ciphertext</textarea>

    </div>
</div>