@{
    ViewData["Title"] = "Decrypt";
}

<div class='row text-center'>
    <div class='col-md-12 '> <!-- col-md-offset-1 // if u want them both alined-->
        <header>
            <h1>Decryption</h1>
        </header>
    </div>
</div>

<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        
        @model DecryptModel
        <form asp-controller="Decrypt" asp-action="Decrypt" method="post">

            <h3>Ciphertext</h3>
            <textarea asp-for="Ciphertext" cols="80" rows="20"></textarea>
            <br/>
            <br/>

            <button class="btn btn-custom">Decrypt</button>
            <br/>
            <br/>

        </form>

            <h3>Key</h3>
            <textarea asp-for="Key" cols="80" rows="1"></textarea>
            <br/>
            <br/>

            <h3>Plaintext</h3>
            <textarea asp-for="Plaintext" cols="80" rows="20"></textarea>
            <br/>
            <br/>

        <form form asp-controller="Decrypt" asp-action="SwapCharacters" method="post">

            <h3>Manual Swapping</h3>
            <!--should be in labels or p tags-->
            Swap <input asp-for="From" /> With <input asp-for="To" />
            <!--btn-sm-->
            <button class="btn btn-custom  btn-sm">Swap</button>
            <br/>

        </form>
    </div>
</div>