@{
    ViewData["Title"] = "Decrypt";
}

<div class='row text-center'>
    <div class='col-md-12 '> <!-- col-md-offset-1 // if u want them both alined-->
        <header>
            <h1>Decryption</h1>
        </header>
    </div>
</div>

@model Models.Decrypt
<div class='row'>
    <div class='col-md-10 col-md-offset-1'>
        

        <form asp-controller="Decrypt" asp-action="Decrypt" method="post">

            <h3>Ciphertext</h3>
            <textarea name="ciphertext" cols="80" rows="20"></textarea>
            <br/>
            <br/>

            <button class="btn btn-custom">Decrypt</button>
            <br/>
            <br/>

        </form>

            <h3>Key</h3>
            <textarea name="key" cols="80" rows="1"></textarea>
            <br/>
            <br/>

            <h3>Plaintext</h3>
            <textarea name="plaintext" cols="80" rows="20"></textarea>
            <br/>
            <br/>

        <form form asp-controller="Decrypt" asp-action="SwapCharacters" method="post">

            <h3>Manual Swapping</h3>
            <!--should be in labels or p tags-->
            Swap <input name="From" /> With <input name="To" />
            <!--btn-sm-->
            
            <button class="btn btn-custom btn-sm">Swap</button>
            <br/>
            

        </form>
    </div>
</div>