h1{
    font-family: "Courier New", Courier, serif;
    letter-spacing: 2px;
}

header {
    /* was #ccc */
    border-bottom: 1px solid #aaa; 
    padding-bottom: 10px; 
}

footer{
    border-top: 1px solid #aaa;
    padding-top: 20px;
    margin: 2em 0; 
}

form{
      margin: 2em 0 2em 0;
}

.text{
    margin: 4em 0 4em 0;
}

strong{
    color: #002800;
    /*color: #003200;*/
}

.btn {
    padding: 10px 20px;
    border: 2px solid #006400;;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Courier New", Courier, serif;
}
 
.btn-sm{
    padding: 1px 20px;
}

.btn-custom{
    background: #006400;
    color: white;
}

.btn-custom:hover {
    background: white;
    color: #003200;
     box-shadow: seagreen;
}

.btn-custom:active {
    background: #003200;
    color: white;
}